body {
	background-color: blue;
}

.audioFile {
	display: inline-block;
	width: 250px;
	height: 40px;
	background-color: grey;
	float: left;
	left: 0%;
	position: relative;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	clear: both;

}

.audioElement {
	width: 700px;
}