body {
	background-color: blue;
}

.playList {
	width: 300px;
	height: 100%;
}

.audioFile {
	display: inline-block;
	width: 300px;
	height: 70px;
	background-color: grey;
	float: left;
	left: 0%;
	position: relative;
	clear: both;

}

.currentTrack {
	color: green;
	opacity: 0.8;	
}

.audioElement {
	width: 700px;
	position: relative;
}

.playerBody {
	width: 700px;
	height: 100px;
	position: absolute;
	top: 0%;
	margin-left: 300px;
}

.display {
	top: 15%;
	position: absolute;
	margin-left: 300px;
}